{% extends "base.html" %}
{% block head %}
    <title>Personal Portfolio</title>
{% endblock head %}
{% block page_content %}
<div class="container text-center">
    <h1 class="text-light font-weight-bold display-3 mt-5">Personal Portfolio</h1>
    <!-- Personal Contact Segment -->
    <div class="personal-contact text-right mt-3">
        <p class="text-light">
            <a href="mailto:georgios.m.stamatis@gmail.com" class="text-light">georgios.m.stamatis@gmail.com</a>
            <a href="https://www.linkedin.com/in/georgios-stamatis/" class="text-light ml-2" target="_blank">LinkedIn</a>
            <a href="https://github.com/george-stamatis" class="text-light ml-2" target="_blank">GitHub</a>
            <a href="https://django-portfolio-1996.s3.eu-central-1.amazonaws.com/George_CV.pdf" class="text-light ml-2" target="_blank">CV</a>
        </p>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="rounded-circle overflow-hidden" style="width: 380px; height: 250px;">
            <img src="{{ home.image.url }}" alt="Home Image" class="img-fluid">
        </div>
    </div>
    <p class="lead text-light fs-5 mt-3">Welcome to my personal portfolio website.<br> I am George Stamatis and here you can explore my smaller projects <br> from online courses and learn more about my skills and experience.</p>
    <a href="{% url 'project_index' %}" class="btn bg-light btn-lg btn-transparent mt-3">View Projects</a>
</div>
{% endblock page_content %}