<!-- projects/templates/projects/project_detail.html -->

{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <h1 class="text-light font-weight-bold mb-2">{{ project.title }}</h1>
    <div class="row align-items-start">
        <div class="col-md-8">
            {% if project.image %}
                <img src="{{ project.image.url }}" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-md-4 d-flex">
            <div class="card my-auto w-100">
                <div class="card-body bg-light">
                    <h5 class="card-title lead fs-4">About the project:</h5>
                    <p class="card-text lead fs-5">{{ project.description }}</p>
                    <br>
                    <h5 class="card-title lead fs-4">Technology used:</h5>
                    <p class="card-text lead fs-5">{{ project.technology }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
