<!-- projects/templates/projects/project_index.html -->
{% extends "base.html" %}

{% block page_content %}
<div class="container text-center">
    <h1 class="text-light font-weight-bold display-3 mb-3">Personal Portfolio</h1>
    <!-- Personal Contact Segment -->
    <div class="personal-contact text-right mb-4">
        <p class="text-light">
            <a href="mailto:georgios.m.stamatis@gmail.com" class="text-light">georgios.m.stamatis@gmail.com</a>
            <a href="https://www.linkedin.com/in/georgios-stamatis/" class="text-light ml-2" target="_blank">LinkedIn</a>
            <a href="https://github.com/george-stamatis" class="text-light ml-2" target="_blank">GitHub</a>
            <a href="/path/to/your/cv.pdf" class="text-light ml-2" target="_blank">Download CV</a>
        </p>
    </div>

    <p class="lead text-light fs-5 mb-5">Welcome to my personal portfolio website.<br> I am George Stamatis and here you can explore my smaller projects <br> from online courses and learn more about my skills and experience.</p>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 d-flex flex-column bg-light border-dark">
                {% if project.image %}
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ project.image.url }}" alt="{{ project.title }}">
                {% else %}
                <div class="placeholder-image"></div>
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text flex-grow-1">{{ project.description }}</p>
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary mt-auto">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}